.slidemenuListSlide {
    border: 3px solid transparent;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    /*background-color: #fff;*/
    /* width: 95%;
    max-height: 18.5%;
    min-height: 18.5%; */
    width: 100%;
    height: 100%;
    transition: border, .3s, ease-in-out;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    position:  relative;

}

.slidemenuListSlide:hover {
  cursor: pointer;
}

.slidemenuListSlideIndex{
  left: 8px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  align-self: start;
  display: inline;  
}

/*.slidemenuListSlide::before {
    position: absolute;
    left: 8px;
    counter-increment: heading;
    content: counter(heading) " ";
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}*/


/*.slidemenuListSlideSelected {
  margin-bottom: 17px;
  border: 7px solid transparent;
  border-color: aqua;
  background-color: #fff;
  height: 35%;
  width: 100%;
  transition: border, .3s, ease-in-out;
}*/

/* .slidemenu__list__slide:not(:last-child) {
margin-bottom: 17px;
} */
    
/*.slidemenuListSlide:active {
  border: 5px solid #000000;
}*/