.slidemenu {
    background-color: #F08080;
    width: 15%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    border: 5px;
    border-color: black;
}
  
.slidemenuList {
    margin-bottom: 10px;
    width: 100%;
    padding: 0 27px;
    list-style: none;
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-self: center;
    counter-reset: heading;
    overflow-y: scroll;
}

.slidemenuList::-webkit-scrollbar {
    background-color: #F08080;

}
  
.slidemenuList::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: linear-gradient(180deg,  #ec9191, #FFEEDD);
  }

.slidemenuListSlide {
    margin-bottom: 17px;
    /*background-color: #fff;*/
    width: 95%;
    max-height: 23.125%;
    min-height: 23.125%;
    display: flex;
    flex-direction: column;
    position:  relative;
}

.imglogo {
    margin-right: auto;
    margin-left: auto;
    width: 178px;
    height: 67px;
    background: url('../img/logoMiraculous.png');
    background-repeat: no-repeat;
    background-size: contain;
}


/* .App-link {
    color: #00ffff;
} */


/*
@keyframes App-logo-spin {
from {
    transform: rotate(0deg);
}
to {
    transform: rotate(360deg);
}
}
*/