.text{
    background: transparent;
    /* width: 100px;
    height: 100px; */
    overflow-wrap: hyphens;
    word-wrap: break-word;
    word-break: break-all;
    resize: none;
}

.element{
    resize: none;
    position: absolute;
} 