@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.App {
  text-align: center;
}

/*
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
*/

/*
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
*/
.App-header {
  background-color: #FFEEDD;
  /* height: 110px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: top; */
  font-size: calc(10px + 1vmin);
  color: #000;
}

.headtext{
  margin-top: 0;
  height: 2%;
  color: #F08080;
  font-weight: bold;
}

.App-body{
  width: 100%;
  /*как сделать высоту на максимум экрана, без прокрутки?*/
  height: 622px;
  background-color: #fff;
}

.slidemenu{
  background-color: #F08080;
  width: 19%;
  height: 100%;
}

.slidemenu__list{
  width: 100%;
  padding-top: 5%;
  margin: 0;
  list-style: none; 
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}

.slidemenu__list__slide{
  border-color: #F08080;
  margin: 2%;
  background-color: #fff;
  height: 35%;
  width: 70%;
}

.imglogo{
  height: 15%;
}


.App-link {
  color: #00ffff;
}


/*
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/