@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.App {
  text-align: center;
  position: fixed;
  width: 100%;
  height: 100%;
}

button {
  /* border: none; */
  cursor: pointer;
}

/*
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
*/

/*
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
*/
.App-header {
  background-color: #FFEEDD;
  width: 100%;
  height: 20%;
  /* position: fixed; */
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 1vmin);
  color: #000;
}

.headtext {
  margin-top: 0;
  height: 15%;
  color: #F08080;
  font-weight: bold;
}

.App-body {
  position: fixed;
  width: 100%;
  height: 80%;
  display: flex;
  background-color: #fff;
}

