.slideBackgroundContainer {
    /* padding: 8px 15px; */
    width: 30%;
    display: flex;
    border-right: 1px solid black;
}

.backgroundImage {
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-right: 1px solid #A0A0A0;
    padding: 0 4%;
}

.slideBackgroundInscr {
    width: 70%;
    height: 80%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    color: black;
    display: flex;
    align-items: center;
    text-align: center;
}

.chooseImgContainer {
    width: 60%;
    height: 60%;
    cursor: pointer;
}

.chooseImgIcon {
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../img/imgIcon.png');
}

.chooseImgInput {
    padding: 0 5px;
    width: 100%;
    height: 23px;
    background-color: transparent;
}

.backgroundColor {
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.chooseColorIcon {
    margin-bottom: 5px;
    width: 75px;
    height: 65%;
    background-image: url('../img/fillicon.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.chooseColorSelect {
    height: 35%;
    width: 45%;
    padding: 0 5px;
    background-color: transparent;
    border: 2px solid black;
}

.chooseColorContour {
    width: 40%;
    height: 35%;
}

.chooseColorSelect:hover {
    cursor: pointer;
}

.elementOutlineContainer {
    padding: 0 0 0 15px;
    width: 40%;
    display: flex;
    border-right: 1px solid black;
}

.contourContainer {
    display: flex;
    width: 75%;
}

.elementOutlineInscr {
    display: flex;
    align-items: center;
    margin-right: 10%;
    width: 45%;
    height: 100%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    color: black;
}

.selectContainer {
    padding-right: 10px;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px solid #A0A0A0;
}

.elementOutlineSelect {
    padding: 0 5px;
    width: 100%;
    height: 48%;
    background-color: transparent;
    border: 2px solid black;
    font-size: 80%;
    line-height: 1;
    font-weight: 600;
    outline: 0;
}

.elementOutlineOption {
    width: 100%;
    height: 50px;
    background-color: #FFEEDD;
    border: 2px solid black;
    border-radius: none;
    font-size: 14px;
    line-height: 1;
    font-weight: 600;
    font-family: 'Roboto';
    font-style: normal;
    color: #000000;    
}

.headmenu {
    width: 100%;
    height: 48%;
    background-color: transparent;
    font-size: 14px;
    line-height: 1;
    font-weight: 600;
    outline: 0;
    border: 2px solid black;
    list-style: none; 
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headmenuAnimations {
    width: 60%;
    height: 40%;
}

.headmenuLi {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #FFEEDD;
    color: #000000;
    font-family: 'Roboto';
    font-style: normal;
    transition-property: background-color, color;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 14px;
    line-height: 1;
    font-weight: 600;
}

.submenu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 10;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    display: none;
    visibility: hidden;
    opacity: 0;
    background: #FFEEDD;
    border: 2px solid black;
}

.submenu > li {
    padding-top: 8px;
    text-align: center;
    width: 100%;
    height: 30px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 1;
    background-color: #FFEEDD;
    transition-property: background-color, color;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
    color: black;
    display: block;
    /* border-bottom: 2px solid black; */
    cursor: pointer;
}

.submenu > li:last-child {
    border-bottom: none;
}

/* .submenu > li:nth-child(3) {
    padding-top: 2px;
} */

.submenu > li:hover {
    background-color: #F08080;
    color: white;
}

ul li:hover .submenu {
    display: block;
  }

ul li:hover .submenu {
    visibility: visible;
    opacity: 1;
}

.colorContourContainer {
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

.colorContourIcon {
    margin-left: auto;
    margin-right: auto;
    background-position: center;
    margin-bottom: 5px;
    width: 80%;
    height: 65%;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('../img/contourIcon.png');
}

.hrIcon {
    margin-bottom: 10px;
    width: 58px;
    height: 5px;
    background-color: #FF6666;
    border: none;
}

.elementOutlineSelect::placeholder {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 1;
    color: black;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.elementOutlineSelectSmall {
    width: 50%;
}

.animationContainer {
    width: 18%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.animationIcon {
    margin-bottom: 2%;
    width: 90px;
    height: 58px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('../img/animationIcon.png');
    background-position: center;
}
