.previewContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    background: black;
    display: flex;
    justify-content: center;
    scroll-behavior: unset;
}

@keyframes leaf-odd-grow {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
}

.animation1{
    transform-origin: 0% 100%;
    animation-name: leaf-odd-grow;
    animation-duration: 0.7s;
    animation-fill-mode: both;
}

@keyframes scale {
    0% {
      transform: rotateX(-90deg) rotateZ(-90deg) scale(0);
    }
    100%{
        transform: rotateX(0deg) rotateZ(0deg) scale(1);
    }
  }

.animation2{
    animation-fill-mode: both;
    transform-origin: 0% 100%;
    animation: scale 1s;
}

@keyframes fading {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.animation3{
    animation-fill-mode: both;
    transform-origin: 0% 100%;
    animation: fading 1s;
}

.animationNon{
    transform-origin: 0% 100%;
    /*animation-name: leaf-odd-grow;*/
    animation-duration: 2s;
    animation-fill-mode: both;
}

.previewContent {
    position: relative;
    width: 83%;
    height: 100%;
    background: white;
}

.navigator{
    position: absolute;
    top: 90%;
    left: 40%;
    width: 20%;
    height: 7%;
    background-color: transparent;
}

.buttons{
    width: 33%;
    height: 100%;
    border-color: rgba(231, 52, 52, 0.486);
}

.buttons:hover {
    background-color: rgba(233, 122, 122, 0.5); 
    border-color:  #f37171; 
}

.left{
    background: url(../img/arrow_cupid_heart_love_left.png) no-repeat center /100% 100%;
}

.right{
    background: url(../img/arrow_cupid_heart_love_right.png) no-repeat center /100% 100%;
}

.end{
    background: url(../img/check_mark_complete_done_good_heart_ok_valentine_icon_146714.png) no-repeat center /100% 100%;
}


