.presentationContent {
    margin: auto;
    width: 60%;
    height: 90%;
    /*border: 2px solid #FF6666;*/
    box-shadow: 0 14px 28px #F08080, 10px 10px 10px #F08080;
};

/* @media (min-width: 1024px) {
    .presentationContent {
        width: 100px;
        height: 100px;
    }
} */

/* .presentation-content__main {
    width: 100%;
    height: auto;
    border: 2px solid #FF6666;
} */
