.presentationContent {
    margin: auto;
    width: 60%;
    height: 90%;
    border: 2px solid #FF6666;
};

/* @media (min-width: 1024px) {
    .presentationContent {
        width: 100px;
        height: 100px;
    }
} */

/* .presentation-content__main {
    width: 100%;
    height: auto;
    border: 2px solid #FF6666;
} */
