.slideBtnContainer {
    display: flex;
    width: 12%;
    justify-content: space-between;
}

.slideBtn:last-child {
    border-right: 1px solid #000000;
}

.slideBtn:hover {
    cursor: pointer;
}

.slideBtnImg {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 9px;
    height: 50%;
    background-size: contain;
    background-repeat: no-repeat;
}

.newSlideBtnImg {
    width: 40%;
    background-image: url('../img/newSlide__logo.png');
}

.deleteSlideBtnImg {
    width: 40%;
    background-image: url('../img/basket.png');
}

.slideBtnInscr {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1;
    text-align: center;
    color: #000000;
}

.toolbarCancelRefund {
    width: 5%;
    /* padding: 5px 23px 0 23px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid #000000;
    justify-content: center;
}

.cancelRefundBtnContainer {
    height: 50%;
    width: 100%;
    cursor: pointer;
    margin-top: 6%;
}

/* .cancelRefundBtnContainer:first-child {
    border-bottom: 1px solid black;
} */

.doRedoBtnArrow {
    margin-left: 10%;
    width: 70%;
    height: 60%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.arrowLeft {
    background-image: url('../img/arrowLeft.png');
}

.arrowRight {
    background-image: url('../img/arrowRight.png');
}

.toolInsc {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1;
    text-align: center;
    color: #000000;
}

.doRedoBtnInsc {
    font-size: 12px;
}