.fontContainer {
    width: 22%;
    display: flex;
    border-right: 1px solid #000000;
}

.fontBtn {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 18%;
    border-right: 1px solid #A0A0A0;
}

.fontBtnImg {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 13px;
    width: 60%;
    height: 45%;
    background-image: url('../img/fontIcon.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.toolInsc {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #000000;
}

.fontSettings {
    padding: 0 15px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.fontSettingsSelect {
    margin-bottom: 2%;
    justify-content: space-between;
}

.fontSelect {
    display: flex;
}

.selectField {
    height: 50%;
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    color: #000000;
    background-color: transparent;
    border: 2px solid #000000;
}

.elementSettings {
    /* padding: 8px; */
    width: 15%;
    display: flex;
    align-items: center;
    border-right: 1px solid #000000;
}

.fontSelectField {
    height: 23px;
    width: 48%;
}

.selectField:not(:last-child) {
    margin-right: 8px;
}

.selectFieldOption {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1;
    color: #000000;
}

.fontMark {
    display: flex;
    justify-content: space-between;
}

.fontMarkIcon {
    width: 25%;
    height: 50%;
}

.fontMarkIconButton {
    width: 100%;
    height: 100%;
    background-color: #FFEEDD;
    border: none;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.underlined {
    text-decoration: underline;
}

.selectColor {
    color: #FF6666;
    text-decoration: underline;
}

.elementSettingsSelect {
    width: 30%;
    padding: 0;
}

.elementSettingsSelect:hover {
    cursor: pointer;
}

.filterIcon {
    /* margin-right: 25px; */
    width: 40%;
    height: 70%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../img/filterIcon.png');
}

.headmenu {
    width: 48%;
    height: 100%;
    background-color: transparent;
    font-size: 14px;
    line-height: 1;
    font-weight: 600;
    outline: 0;
    border: 2px solid black;
    list-style: none; 
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headmenuFilters {
    height: 48%;
}

.headmenuLi {
    padding-left: 8%;
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #FFEEDD;
    color: #000000;
    font-family: 'Roboto';
    font-style: normal;
    transition-property: background-color, color;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 14px;
    line-height: 1;
    font-weight: 600;
}

.headmenuLi span {
    font-size: 14px;
    margin-left: auto;
    margin-right: 8%;
    display: inline-block;
    transform: translateY(3px);
}

.submenu, .submenuFilters {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 10;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    display: none;
    visibility: hidden;
    opacity: 0;
    background: #FFEEDD;
    border: 2px solid black;
}

.submenu > li, .submenuFilters > li {
    padding-top: 8px;
    text-align: center;
    width: 100%;
    height: 30px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 1;
    background-color: #FFEEDD;
    transition-property: background-color, color;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
    color: black;
    display: block;
    cursor: pointer;
}

.submenu > li:nth-child(9) {
    padding-top: 4px;
}

.submenuFilters > li {
    height: 25px;
    padding-top: 5px;
}

.submenu > li:last-child, .submenuFilters > li:last-child {
    border-bottom: none;
}

.submenu > li:hover, .submenuFilters > li:hover {
    background-color: #F08080;
    color: white;
}

ul li:hover .submenu, ul li:hover .submenuFilters {
    display: block;
  }

ul li:hover .submenu, ul li:hover .submenuFilters {
    visibility: visible;
    opacity: 1;
}

.contourIcon, .fillIcon {
    margin-right: 10%;
    width: 40%;
    height: 90%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../img/contourIcon.png');
}

.fillIcon {
    background-image: url('../img/fillicon.png');
}

.deleteElementContainer {
    padding: 0 8px;
    margin-left: auto;
    margin-right: auto;
    width: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.deleteElementIcon {
    margin-bottom: 2px;
    width: 90%;
    height: 60%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('../img/basket.png');
}

.deleteElementInscr {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1;
    color: #000000;
    text-align: center;
}

.resizeAndMove {
    width: 20%;
    display: flex;
}

.resizeContainer {
    margin-right: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.resizeContainer:first-child {
    padding-left: 5%;
    margin-right: 5%;
}

.resizeContainer:last-child {
    padding-right: 5%;
}

.resizeInputContainer {
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.resizeInput {
    width: 50%;
    height: 88%;
    background: transparent;
    border: 2px solid black;
}

.resizeInscr {
    margin-right: 5px;
    width: 60%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 85%;
    line-height: 1;
    color: #000000;
    text-align: center;
}

